<h1>Hi <%= @recipient%></h1>
<p>
  Article Title : <%= @article.title%>
</p>
<p>
  Article Description : <%= @article.description%>
</p>
<p>
  Article Tags : <%= @article.tag_names %>
</p>
<h3>Regards</h3>
<h2>Chayan Sharma</h2>