<h1>Hi <%= @recipient%></h1>
<p>
  Dear user, Your one time password for your registeration is "<%= @otp%>". Please login with this password for the first time after which you will be redirected to change your password to a new password.
</p>
<h3>Regards</h3>
<h2><b>Chayan Sharma</b></h2>
<h2>Admin</h2>
